<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="../estilos.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

</head>

<body>
    <header>
        <a href="#" class="logo">
            <span>NI</span>TE
        </a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fa fa-bars"></label>
        <nav class="navbar">
            <a href="/index">inicio</a>
        </nav>

    </header>
    <section class="login" id="login">
        <form action="">
            <h1 class="heading">{% block header %}Revise y complete sus datos{% endblock %}</h1>
            
            <div class="inputcaja">
                <input type="text" required>
                <label for="">nombre del usuario</label>
            </div>
            <div class="inputcaja">
                <input disabled type="text" required>
                <label for="">Nombres</label>
            </div>
            <div class="inputcaja">
                <input disabled type="text" required>
                <label for="">Apellido Paterno</label>
            </div>
            <div class="inputcaja">
                <input disabled type="text" required>
                <label for="">Edad</label>
            </div>
            <div class="inputcaja">
                <input type="text" required>
                <label for="">Contraseña</label>
            </div>
            {% block div %} 
            <div class="bottons">
                <a href="/revision" class="btn"><i class="fa-solid fa-badge-check"></i>Enviar</a>
            </div>
            {% endblock %}
            
            
        </form>
        
    </section>
</body>

</html>